@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0 0% 0% 0.94;
    --footer: 240 10% 3.9%;
    --footer-foreground: 0 0% 100%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --footer: 240 10% 3.9%;
    --footer-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }

  ::selection {
    @apply bg-sky-500/80 text-foreground/80;
  }
  body {
    @apply relative bg-background font-poppins text-foreground duration-150;
  }

  .linkhover {
    @apply duration-200 hover:translate-x-1.5 hover:text-footer-foreground;
  }

  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
  }

  .loader::before,
  .loader::after {
    content: '';
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #4158d0 72%, #0000);
    background:
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 0.8s infinite;
  }

  .dark .loader::before,
  .dark .loader::after {
    --c: no-repeat radial-gradient(farthest-side, #c850c0 72%, #0000);
  }

  .loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
  }
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

.link-underline {
  @apply relative;
}

.link-underline::after {
  content: '';
  @apply absolute bottom-0 left-0 h-[2px] w-full origin-left scale-0 rounded-full bg-gradient-to-tr from-blue-500 via-[#c850c0] to-blue-500;
}

.link-underline:hover::after {
  @apply origin-left scale-100 transition duration-300;
}
